<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline' 'unsafe-eval'"
    /> -->
		<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval';">  
    <title>PointRec</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
